* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 66, 5);
    user-select: none;
}

#wrapper {
    margin: 0, auto;
}

#turn-phone-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#top-arrow {
    margin-top: 20px;
    margin-bottom: -30px;
    margin-left: -30px;
}

#turn-phone {
    margin-top: 30px;
}

#bottom-arrow {
    margin-left: 120px;
}

#game {
    background: transparent url("../img/blackjack-table.jpg") 0 0 no-repeat;
    background-position: center;
    background-size: contain;
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

#money {
    position: absolute;
    top: 5%;
    left: 10%;
    height: 30px;
    width: 200px;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
    border: 2px solid rgb(255, 196, 0);
}

#cash {
    color: white;
    margin-left: -100px;
}

#reset-money {
    background-color: black;
    border-radius: 5px;
    border: 2px solid rgb(255, 196, 0);
    padding: 10px;
    color: rgb(0, 255, 242);
    font-size: 20px;
    position: fixed;
    top: 50%;
    left: 42%;
    display: none;
    animation: pulsate 1s infinite alternate;
    -webkit-animation: pulsate 1s infinite alternate;
    /* Safari and Chrome */
    -moz-animation: pulsate 1s infinite alternate;
    /* Firefox */
    -o-animation: pulsate 1s infinite alternate;
    /* Opera */
    -ms-animation: pulsate 1s infinite alternate;
    /* Internet Explorer */
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

With t #scores {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.score {
    width: 50%;
    text-align: center;
    padding: 5px;
    padding-right: 2px;
}


#dealer {
    display: block;
    align-items: center;
    justify-content: center;
}

#dealer img {
    height: 10%;
    width: 6%;
    margin-top: 5%;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 2px;
}

#dealer-score {
    position: absolute;
    font-size: 15px;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    padding: 5px;
    background-color: black;
    width: auto;
    border-radius: 5px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 196, 0);
    display: none;
    z-index: 100;
}

#player {
    display: flex;
    align-items: center;
    justify-content: center;
}

#player img {
    width: 8%;
    margin-top: 7%;
    border-radius: 5px;
    margin-left: 2px;
}

/* #split-hand {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#split-player img {
    width: 20%;
    height: auto;
    margin-right: 5px;
} */

#player-score {
    position: absolute;
    font-size: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    background-color: black;
    width: auto;
    border-radius: 5px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 196, 0);
    display: none;
    z-index: 100;
}

#actions {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    border: 2px solid rgb(255, 196, 0);
    width: 300px;
    user-select: none;
}

.btn {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
}

.btn:hover {
    scale: 1.2;
}

#deal {
    background-color: rgb(0, 186, 211);
}

#hit {
    background-color: rgb(0, 168, 0);
}

#double {
    background-color: rgb(0, 38, 255);
}

#split {
    background-color: rgb(147, 0, 233);
}

#stand {
    background-color: rgb(199, 0, 0);
}

#bet {
    color: rgb(0, 255, 0);
}

#results {
    position: absolute;
    top: 32%;
    left: 50%;
    padding-left: 20px;
    padding-right: 20px;
    transform: translate(-50%, -50%);
    font-size: 65px;
    font-weight: 700;
    color: rgb(0, 247, 255);
    background-color: black;
    border-radius: 50%;
}

#restart-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 2px;
    border-color: red;
    border-radius: 50px;
    padding: 5px;
    width: 100px;
    background: blue;
    color: yellow;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 1px black;
    box-shadow: 8px 8px 18px black;
    cursor: pointer;
    display: none;
    user-select: none;
}

#chips-container {
    position: absolute;
    bottom: 20%;
    left: 10%;
    user-select: none;
}

.chip {
    position: relative;
    display: inline-block;
    user-select: none;
}

.chip img {
    width: 100px;
    height: auto;
    user-select: none;
}

.chip-value {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    user-select: none;
}

@media all and (max-width: 1000px) {
    #money {
        top: 10%;
        left: 5%;
        width: 150px;
        font-size: 15px;
    }

    #cash {
        margin-left: -50px !important;
    }

    #dealer img {
        margin-top: 50px;
        margin-bottom: -10px;
        border-radius: 3px;
    }

    #dealer-score {
        top: 25%;
        margin-top: -30px;
        height: 20px;
        padding: 2px;
        font-size: 15px;
    }

    #results {
        font-size: 30px;
    }

    #player img {
        border-radius: 3px;
        width: 50px;
    }

    #player-score {
        top: 45%;
        height: 20px;
        padding: 2px;
        font-size: 15px;
    }

    #actions {
        bottom: 8%;
    }

    .btn {
        font-size: 15px;
        margin-left: 5px;
    }

    #bet {
        margin-top: 3px;
    }

    #reset-money {
        left: 35%;
    }

    #chips-container {
        bottom: 22%;
        left: 30%;
    }

    .chip img {
        width: 55px;
    }


    .chip-value {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 15px;
    }
}

@media all and (max-width: 750px) {

    #dealer img {
        margin-top: 40px;
        margin-bottom: -10px;
        border-radius: 3px;
    }

    #player img {
        margin-top: 10px;
    }
}

@media all and (max-width: 600px) {
    .btn {
        font-size: 10px;
        margin-left: 4px;
    }
}

@media all and (max-width: 400px) {
    #wrapper {
        display: none;
    }

    #turn-phone-info {
        display: block;
    }
}