* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#turn-phone-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#top-arrow {
    margin-top: 20px;
    margin-bottom: -30px;
    margin-left: -30px;
}

#turn-phone {
    margin-top: 30px;
}

#bottom-arrow {
    margin-left: 120px;
}

body {
    background-color: rgb(15, 66, 5);
}

#wrapper {
    margin: 0, auto;
}

#game {
    background: transparent url("../img/blackjack-table.jpg") 0 0 no-repeat;
    background-position: center;
    background-size: contain;
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
}

#money {
    position: absolute;
    top: 5%;
    left: 10%;
    height: 30px;
    width: 200px;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
    border: 2px solid rgb(255, 196, 0);
    opacity: 0.6;
}

#cash {
    color: white;
    margin-left: -100px;
}

#dealer {
    display: block;
    align-items: center;
    justify-content: center;
}

#dealer img {
    height: 10%;
    width: 5%;
    margin-top: 5%;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 2px;
}

#dealer-score {
    position: absolute;
    font-size: 15px;
    left: 50%;
    transform: translate(-50%);
    padding: 5px;
    background-color: black;
    width: auto;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 196, 0);
    display: none;
}

#player {
    display: block;
    align-items: center;
    justify-content: center;
}

#player img {
    height: 10%;
    width: 5%;
    margin-top: 10%;
    border-radius: 5px;
    margin-left: 2px;
}

#player-score {
    position: absolute;
    font-size: 15px;
    left: 50%;
    top: 45%;
    transform: translate(-50%);
    padding: 5px;
    background-color: black;
    width: auto;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 196, 0);
    margin-bottom: 20px;
    display: none;
}

#actions {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    border: 2px solid rgb(255, 196, 0);
}

.btn {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.btn:hover {
    scale: 1.2;
}

#deal {
    background-color: rgb(0, 186, 211);
}

#hit {
    background-color: rgb(0, 168, 0);
}

#stand {
    background-color: rgb(199, 0, 0);
}

strong {
    font-size: 12px;
    margin-left: 5px;
    color: rgb(0, 255, 0);
}

#bet {
    width: 100px;
    height: 17px;
    margin-right: 5px;
}

@media all and (max-width: 1000px) {
    #money {
        top: 10%;
        left: 5%;
        width: 150px;
        font-size: 15px;
    }

    #cash {
        margin-left: -50px !important;
    }

    #dealer img {
        margin-top: 50px;
        margin-bottom: -10px;
        border-radius: 3px;
    }

    #dealer-score {
        margin-top: 10px;
        height: 20px;
        padding: 2px;
        font-size: 11px;
    }

    #player img {
        border-radius: 3px;
        margin-bottom: -140px;
    }

    #player-score {
        height: 20px;
        padding: 2px;
        font-size: 11px;
    }

    #cash {
        margin-left: -70px;
    }

    .btn {
        font-size: 12px;
        margin-left: 5px;
    }
}

#results {
    font-size: 45px;
    color: white;
}

@media all and (max-width: 600px) {
    .btn {
        font-size: 10px;
        margin-left: 4px;
    }

    #bet {
        width: 70px;
    }
}

@media all and (max-width: 400px) {
    #wrapper {
        display: none;
    }

    #turn-phone-info {
        display: block;
    }
}